/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: color($color-black a(5%));

  @mixin atMedium {
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-flow : column nowrap;
    padding: 0 0.75em 1.5em;

    @mixin atMedium {
      padding: 1em 0.75em;
      flex-flow : row nowrap;
    }
  }

  &__item:not(:last-child) {
    /* margin: 0 0 1em 0; */
  }

  &__module {
    color: $color-near-black;
    width: auto;
    flex: 0 0 auto;
    font-weight: bold;
    text-align: center;
    padding: 1.5em 0 1em;
    margin-right: 0;
    @mixin atMedium {
      padding: 0;
      margin-right: 0.75em;
      width: 15%;
      flex: 0 0 15%;
      text-align: left;
    }
  }

  &__description {
    display: block;
  }

}


