/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

/*
@mixin atSmall {
}
@mixin atMedium {
}
@mixin atLarge {
}
@mixin atXLarge {
}
*/

@component card {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $color-near-white;
  background: linear-gradient(0deg, #eaeaea  0%, #fafafa 100%);

  &__header {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 0 2em;
  }

  &__header .icon {
    display: block;
    margin: auto;
    background-color: #fff;
    border: 1px solid #CCC;
  }

  &__header .headline {
    text-align: center;
  }

  &__body {
    margin: 0;
    text-align: left;
    padding: 2em;
  }

  &__footer {
    display: none;
  }
}
