/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.section {
  /* PADDING TOP + HEIGHT OF NAVBAR */
  padding: 2em 0 4em 0;

  /* SECTIONS PADDING MODIFIERS */
  &--p-none {
    padding: 0;
  }

  /* SECTIONS BACKGROUND MODIFIERS
  */
  &--bg-hero {
    background-color: $color-dark-gray;
  }

  &--bg-footer {
    background-color: $color-dark-gray;
  }

  &--bg-features {
    background: linear-gradient(0deg, color($color-light-red a(90%)) 20.58676945993915%, color($color-light-red a(90%)) 20.58676945993915%, $color-dark-purple 80.58772027129817%), url("/assets/images/puzzle.svg") top center repeat;
    background-attachment: fixed;

    @mixin atLarge {
      &.lazyloaded {
        /* PLACEHOLDER */
      }
    }
  }

  &--bg-typography {
    background-color: $color-codepen-dark;
  }

  &--bg-instructions {
    background: linear-gradient(-120deg, color($color-light-red a(90%)) 20.58676945993915%, color($color-light-red a(90%)) 20.58676945993915%, $color-dark-purple 80.58772027129817%);
    background-attachment: fixed;
  }
}

