/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.button {
  box-sizing: border-box;
  @map font secondary;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 0.3em 0.6em 0.3em 0.6em;

  /* STATE MODIFIERS */
  &--state {
    background: linear-gradient(180deg, color($color-white a(20%)) 8.9283%, color($color-black a(20%)) 86.88406%);
  }
  &--state:link {
    color: $color-moon-gray;
  }
  &--state:visited {
    color: $color-moon-gray;
  }
  &--state:hover {
    background: linear-gradient(180deg, color($color-light-silver a(540%)) 8.9283%, color($color-black a(30%)) 86.88406%);
    background-color: $color-black;
    color: $color-silver;
  }
  &--state:active {
    background: linear-gradient(180deg, color($color-light-silver a(20%)) 8.9283%, color($color-black a(30%)) 86.88406%);
    background-color: $color-black;
    color: $color-silver;
  }

  /* FONT SIZE MODIFIERS */
  &--fs-large {
    font-size: 1.3em;
    padding: 0.5em 1em 0.5em 1em;
  }

  /* BACKGROUND COLOR MODIFIERS */
  &--bg-green {
    background-color: $color-green;
  }
  &--bg-transparent {
    background-color: $color-transparent;
  }

  /* BORDER MODIFIERS */
  &--b-dark {
    border: 0.75px solid color($color-black a(40%));
  }

  /* BORDER RADIUS MODIFIERS */
  &--br-small {
    border-radius: 7px;
  }


  /* MARGIN MODIFIERS */
  &--mb-until-small {
    margin-bottom: 1em;
    @mixin atSmall {
      margin-bottom: 0;
    }
  }

  &--mr-after-small {
    margin-right: 0;
    @mixin atSmall {
      margin-right: 1em;
    }
  }
}
