/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.headline {
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  /* PSEUDO MODIFIERS */
  &--underlined::after {
    content: "";
    display: block;
    height: 0.075em;
    width: 2em;
    @util center-block;
    margin-top: 0.5em;
    background-color: map(font, color, headline, color);
  }

  &--underlined-color-gold::after {
    background-color: $color-yellow;
  }

  &--underlined-color-light::after {
    background-color: $color-moon-gray;
  }

  &--prepend-hash::before {
    display: inline-block;
    width: 1.25em;
    content: "#";
  }

  /* PADDING MODIFIERS */
  &--p-normal {
    padding: 0.5em;
  }

  /* MARGIN MODIFIERS */
  &--mb-none {
    margin-bottom: 0;
  }
  &--m-none {
    margin: 0;
  }
  &--b-none {
    margin-bottom: 0;
  }

  /* TEXT ALIGN MODIFIERS */
  &--text-align-center {
    text-align: center;
  }

  &--text-align-center-until-medium {
    text-align: center;
    @mixin atMedium{
      text-align: left;
    }
  }

  /* COLOR MODIFIERS */
  &--color-light {
    color: $color-moon-gray;
  }

  /* BACKGROUND MODIFIERS */
  &--knockout-lighter {
    color: $color-near-white;
    background: color($color-black a(60%));
    mix-blend-mode: multiply;
  }

  &--knockout-dark {
    color: $color-near-white;
    background: color($color-black a(85%));
    mix-blend-mode: multiply;
  }
}
