/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

@component headline {
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  /* PSEUDO MODIFIERS */
  @modifier underlined::after {
    content: "";
    display: block;
    height: 0.075em;
    width: 2em;
    @util center-block;
    margin-top: 0.5em;
    background-color: map(font, color, headline, color);
  }

  @modifier underlined-color-gold::after {
    background-color: var(--color-yellow);
  }

  @modifier underlined-color-light::after {
    background-color: var(--color-moon-gray);
  }

  @modifier prepend-hash::before {
    display: inline-block;
    width: 1.25em;
    content: "#";
  }

  /* PADDING MODIFIERS */
  @modifier p-normal {
    padding: 0.5em;
  }

  /* MARGIN MODIFIERS */
  @modifier mb-none {
    margin-bottom: 0;
  }
  @modifier m-none {
    margin: 0;
  }
  @modifier b-none {
    margin-bottom: 0;
  }

  /* TEXT ALIGN MODIFIERS */
  @modifier text-align-center {
    text-align: center;
  }

  @modifier text-align-center-until-medium {
    text-align: center;
    @mixin atMedium{
      text-align: left;
    }
  }

  /* COLOR MODIFIERS */
  @modifier color-light {
    color: var(--color-moon-gray)
  }

  /* BACKGROUND MODIFIERS */
  @modifier knockout-lighter {
    color: var(--color-white);
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: multiply;
  }

  @modifier knockout-dark {
    color: var(--color-white);
    background: rgba(0, 0, 0, 0.85);
    mix-blend-mode: multiply;
  }
}
