/* COMMON */
.nav {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;

  background-color: color($color-black a(0%));
  transition: background-color 1s ease-out;

  & .nav__link {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

}

/* HORIZONTAL */
.nav.horizontal {
  display: none;
  /* padding: 0 2em; */
  transition: transform 0.5s ease-out;

  @mixin atMedium {
    display: flex;
    justify-content: flex-end;
  }

  & .nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  }
  & .nav__item:last-of-type {
    margin-right: 0;
  }

  & .nav__link {
    display: inline-block;
    padding: 5px;
    font-size: 1.25em;
    transition: all 0.3s ease;
    /* background-color: red; */
    color: white;
  }
  /* & .nav__link:link,
  & .nav__link:visited {
    color: white;
  }
  & .nav__link:active,
  & .nav__link:hover {
    color: yellow;
  } */

  @mixin atMedium {
    & .nav__link.nav--is-current-link {
      color: $color-yellow;
    }
    & .nav__link.nav--is-current-link-inverted {
      color: $color-light-silver;
    }
  }

}


/* VERTICAL */
.nav.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #fff; */

  & .nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
  }
  & .nav__item:last-of-type {
    margin-bottom: 0;
  }

  & .nav__link {
    display: block;
    padding: 5px;
    font-size: 1.25em;
    transition: all 0.3s ease;
  }
  /* & .nav__link:link,
  & .nav__link:visited {
    color: red;
  }
  & .nav__link:active,
  & .nav__link:hover {
    color: blue;
  } */

  /* @mixin atMedium { */
    & .nav__link.nav--is-current-link {
      color: $color-light-aqua;
    }
  /* } */

}





