/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.code-snippet {
  padding: 2em;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  mix-blend-mode: multiply;
  background-color: color($color-black a(60%));
  color: $color-near-white;

  &__code {
    display: block;
  }

  &--prepend-dollar::before{
    display: inline-block;
    width: 0.75em;
    content: "$";
  }
}


