/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.typography-element {
  box-sizing: border-box;
  width: 100%;
  color: $color-yellow;

  &__tag {
    @map font tertiary;
    display: block;
    font-weight: 700;
    color: $color-silver;
    font-size: 18px;
    position: relative;
    left: 0px;
    top: -10px;
  }

}


