/* DOCUMENT INFORMATION

  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX
  > XXXXXXXXXXXXXXXXXXXX

/////////////////////////////////////////////////*/

.paragraph {
  box-sizing: border-box;

  /* COLOR MODIFIERS */
  &--color-gold {
    color: $color-yellow;
  }
  &--color-light {
    color: $color-moon-gray;
  }

  /* FONT SIZE MODIFIERS */
  &--fs-larger {
    font-size: calc($baseline * 1.075);
    @mixin atSmall {
      font-size: calc(1.2705 * 1.025)em;
    }
    @mixin atMedium {
      font-size: calc(1.2705 * 1.025)em;
    }
    @mixin atLarge {
      font-size: calc(1.2705 * 1.025)em;
    }
    @mixin atXLarge {
      font-size: calc(1.2705 * 1.025)em;
    }
  }

}
